body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

#my-name{
    color: orange;
}

h1{
    font-size: 60px;
}

.top-banner{
    display: flex;
    height: 650px;
    background-image: url(Photos/top-banner.png);
    background-repeat: no-repeat;
    
}

.div-1{
    
    padding-right: 20px;
    padding-left: 100px;
    width: 650px;
    margin-right: 10px ;
    text-align: justify;
}

.div-2 img{
    
    height: 650px;
    padding-left: 0;
    margin-left: 70px;
    margin-top: 30px;
}

.hire-me-button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#FF6A4D, #FF9974);
    padding: 10px 40px;
    border-radius: 5px;
}

.second-banner{
    display: flex;
    margin-top: 80px;
    background-image: url(Photos/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.div-3{
    
}
.div-4{
    
    margin-left: 20px;
    padding-left:30px ;
    padding-right: 100px;
}

.resume-button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#FF6A4D, #FF9974);
    padding: 10px 40px;
    border-radius: 5px;

}

.ex-header{
    font-size: 50px;
    padding-left: 15px;
    padding-top: 30px;


}

.last-h2{
    font-size: 40px ;
}

.experience{
    
    
    height: 700px;
    background-image: url(/Photos/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 280px;

}

.container{
    display: flex;
}

.div-5{
     
    border-left: 8px solid #FA6E5A;
     width: 50%;
     padding: 20px;
     padding-top: 0;
     margin-left: 85px;
     margin-right: 40px;
     height: 400px;
     box-shadow: 10px 10px 40px gray;

}

.div-6{
    border-left: 8px solid;
    
    width: 50%;
    padding: 20px;
    padding-top: 0px;
    margin-right: 85px;
    margin-left: 40px;
    height: 400px;
    box-shadow: 10px 10px 40px gray
    


}

.orange{
    color: orange;
}